{{#if resume.projects.length}}
  <div id='projects' class='sectionBlock'>
    <div class='sectionIntro'>
      <div class='sectionName'>
        <span>PROJECTS</span>
      </div>
      <div class='sectionIntroLine'></div>
    </div>
    <div class='sectionContent'>
      {{#each resume.projects}}
        <div class='blockHeader'>
          <span class='title'>{{name}}</span>
          {{#if highlights.length}}
            <ul class='highlights'>
              {{#each highlights}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
  <div class='sectionLine'></div>
{{/if}}
