{{#if resume.skills.length}}
  <div id='skills' class='section-block'>
    <div class='section-intro'>
      <div class='section-name'>
        <span>SKILLS AND TECH</span>
      </div>
      <div class='section-intro-line'></div>
    </div>
    <div class='section-content'>
      <ul class='highlights'>
        {{#each resume.skills}}
          <li>
            <span class='title'>{{name}}:</span>
            {{#if keywords.length}}
              {{#each keywords}}
                <span>{{.}}</span>{{#unless @last}}, {{/unless}}{{#if @last}}.{{/if}}
              {{/each}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class='section-line'></div>
{{/if}}
