{{#if resume.basics.summary}}
  <div id='summary-block' class='section-block'>
    <div class='section-intro'>
      <div class='section-name'>
        <span>SUMMARY</span>
      </div>
      <div class='section-intro-line'></div>
    </div>
    <div class='section-content'>
      <span>{{resume.basics.summary}}</span>
    </div>
  </div>
  <div class='section-line'></div>
{{/if}}
