{{#if resume.basics.summary}}
  <div id="summary-block" class="section-block">
    <div class="section-content">
      <span>{{resume.basics.summary}}</span>
    </div>
  </div>
  <div class="section-line"></div>
{{/if}}
