body {
  font-family: "Times New Roman", Times, sans-serif;
  /* 13px to 15px looks good */
  font-size: 15px;
  /* 1.38, 1.4, or 1.5 looks good */
  line-height: 1.4;
  margin: 0 auto;
}

#wrapper {
  margin: 0 auto;
  max-width: 800px;
}

/* when generating the resume as a website or as headless, this will keep a nice readable margin in place */
#resume {
  margin: 0.4in;
}

/* use-case is when a user generates their resume as a website, saves their website as a PDF, and uses their browser to manage the margins during save */
@media print {
  #resume {
    margin: 0;
  }
}

ul {
  margin-bottom: 0;
}

li {
  margin-bottom: 2px;
}

a {
  color: black;
  /* it's less likely someone will click the links; removing underline to reduce noise */
  text-decoration: none;
}

.displayNone,
.profilesBlock {
  /* note: this is to enable any automated parsing of content */
  display: none;
}

.basics {
  text-align: center;
}

.basics .divider {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.largeFont {
  font-size: 20px;
}

.smallFont {
  font-size: 13px;
}

.sectionBlock {
  display: block;
  width: 100%;
}

.sectionName {
  color: #004687;
  display: block;
  font-weight: bold;
}

.sectionLine {
  border-color: none;
  border-style: hidden;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.sectionIntroLine {
  border-color: #004687;
  border-style: solid;
  border-width: 1px;
  margin-top: 0px;
  margin-bottom: 5px;
}

#workBlock .blockHeader,
#volunteer .blockHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#workBlock .blockHeader>*,
#volunteer .blockHeader>* {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
}

.blockHeader .date {
  font-weight: bold;
  text-align: right;
}

.blockHeader .organization {
  font-weight: bold;
  text-align: left;
}

.blockHeader .title {
  font-weight: bold;
  text-align: center;
}

.sectionContent {
  display: block;
}

.sectionContent ul {
  padding-left: 20px;
  margin-top: 3px;
  list-style-type: circle;
}

.sectionContent .title {
  font-weight: bold;
}

.sectionContent .date {
  float: right;
}

.sectionContent .separator {
  height: 7px;
}

.summary {
  margin-top: 6px;
}

.jobBlock {
  page-break-inside: avoid;
}
