# https://github.com/actions/checkout
# https://github.com/crazy-max/ghaction-github-labeler
---
name: configure-repo-labels

on:
  push:
    paths:
      - .github/**/*
    branches:
      - main
  workflow_dispatch: {}
  repository_dispatch:

jobs:
  configure-repo-labels:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2.4.0
      - name: run-labeler
        if: success()
        uses: crazy-max/ghaction-github-labeler@v3.1.1
        with:
          dry-run: false
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          skip-delete: false
          yaml-file: .github/labels.yml
