---
name: release

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: "Release type used for bumping the semantic version"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          registry-url: https://registry.npmjs.org/
          node-version: 16

      - name: configure-git-user
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

      - name: update-semantic-version
        env:
          RELEASE_TYPE: ${{ github.event.inputs.release-type }}
        run: |
          echo "RELEASE_TAG=$(npm --no-git-tag-version version $RELEASE_TYPE)" >> $GITHUB_ENV

      - name: commit-changes
        run: |
          git add "package.json"
          git commit -m "chore: release ${{ env.RELEASE_TAG }}"
          git tag ${{ env.RELEASE_TAG }}

      - name: publish-release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_ACCESS_TOKEN }}
        run: npm publish --access=public --tag=latest

      - name: push-changes-back-to-repository
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git push origin && git push --tags

      - name: update-github-release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: ${{ env.RELEASE_TAG }}
          tag_name: ${{ env.RELEASE_TAG }}
          generate_release_notes: true
